@model LionFishWeb.Models.User

@{
    ViewBag.Title = "Reset Password";
}

<!DOCTYPE html>

<main>
    <section id="logsign">
        <div class="ungriddy">
            <div id="block-reset" class="block-logsign">
                <h1>Existing user? Log in<span style="color:#EDA831;">.</span></h1>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div>
                        @Html.TextBoxFor(model => model.Email, new { style = "display:none", @Value = Model.Email })
                    </div>
                    <div class="block-password">
                        @Html.PasswordFor(model => model.Pass, new { id = "input-reset-password", @class = "input-password", placeholder = "Password" })
                        @Html.PasswordFor(model => model.Pass, new { id = "input-reset-confirm-password", @class = "input-password", placeholder = "Re-type password" })
                        <div class="show-password hide">Show</div>
                    </div>
                    <div>
                        <input formaction=@Url.Action("UpdatePassword") formmethod="post" type="submit" id="submit-password" class="button-black" value="Update password">
                    </div>
                }
            </div>
            <div>
                Wrong page? Return to @Html.ActionLink("Sign Up", "SignUp", "Home", new { area = "" }, new { id = "", @class = "" }) or @Html.ActionLink("Log In.", "Login", "Home", new { area = "" }, new { id = "", @class = "" })
            </div>
        </div>
        <div class="griddy"></div>
    </section>
</main>
