@model LionFishWeb.Models.User

@{
    ViewBag.Title = "Sign Up";
}

<!DOCTYPE html>

<main>
    <section id="logsign">
        <div class="ungriddy">
            <div id="block-sign" class="block-logsign">
                <h1>Get started with a new account<span style="color:#EDA831;">.</span></h1>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { id = "input-sign-email", @class = "input-email", placeholder = "Email address" } })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                    <div class="block-password">
                        @Html.PasswordFor(model => model.Pass, new { id = "input-sign-password", @class = "input-password", placeholder = "Password" })
                        <div class="show-password hide">Show</div>
                    </div>
                    <div>
                        <input formaction=@Url.Action("SignUpAsync") formmethod="post" type="submit" id="submit-sign" class="button-blue" value="Sign up">
                    </div>
                }
            </div>
            <div>
                Already have an account? @Html.ActionLink("Log in.", "LogIn", "Home", new { area = "" }, new { id = "", @class = "" })
            </div>
        </div>
        <div class="griddy"></div>
    </section>
</main>
